$margin: 30px;
$margin-mobile: 10px;
$font-color: #333;
$font-family: "Quicksand", sans-serif;
$nav-height: 61px;

body {
  font-family: $font-family;
  background-color: #333;
}

nav {
  background-color: #333;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 3;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $nav-height;

  > div { display: flex; align-items: center }
  h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    display: none;
  }

  @media (max-width: 769px){
    h1 { visibility: hidden }
  }
}

p, h1 { color: white }

h1 {
  font-size: 2.9rem;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  @media (max-width: 769px){
    font-size: 1.8rem;
  }
}

h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  @media (max-width: 769px){
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.9rem;
  line-height: 1.5;
  @media (max-width: 769px){
    font-size: 1.4rem;
  }
}

.alternatives button {
  font-size: 1.6rem;
  line-height: 1.6;
  @media (max-width: 769px){
    font-size: 1.4rem;
  }
}

@keyframes rainbow {
  0% { color: red }
  33% { color: green }
  66% { color: blue }
  100% { color: red }
}

.intro, .feedback {

  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
  font-size: 1.9rem;
  line-height: 1.5;
  color: white;
  @media (max-width: 769px){
    font-size: 1.4rem;
  }

}

.intro {
  background-image: url("../images/bg-intro.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 250px rgba($font-color, .5);

  .btn-start {
    background-color: white;
    padding: 5px 10px;
    max-width: 400px;
    margin-top: 15px;
    font-weight: bold;
    opacity: .6;
    text-transform: none;
    transition: .2s all;
    animation: rainbow 3s infinite;
    &:hover {
      opacity: 1;
    }
  }

}

.feedback .box {
  border: 1px solid white;
  padding: 10px;
  max-width: 500px;
  margin: 30px auto;

  p {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    @media (max-width: 769px){
      font-size: 1.5rem;
    }
  }

}

.scenes {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  position: absolute;
  top: $nav-height; left: 0; right: 0; bottom: 0;

  &.situacao1 { background-position: 80% 15% }
  &.situacao2 { background-position: 80% 20% }
  &.situacao3 { background-position: center 30% }
  &.situacao4 { background-position: 55% 50% }
  &.situacao5 { background-position: 50% bottom }

  @media (max-width: 769px) {
    padding: $margin-mobile;
    position: relative;
    min-height: 700px;
  }

}

.top {

  display: flex;
  justify-content: space-between;
  padding-top: $margin;
  align-items: flex-start;

  .description {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 10px;
    align-self: auto;
    max-width: 250px;
    width: auto;
    font-weight: bold;
    margin-right: 20px;
  }

  .score {
    text-align: center;
    height: 100px;
    width: 100px;
    margin-left: 5px;
    z-index: 1;
    border-radius: 50%;
    flex-shrink: 0;
    transition: .75s ease-in all;

    &.teste { animation: teste 1s }

  }

  @media (max-width: 769px) {

    padding-top: $margin-mobile + 5px;
    .score {
      height: 60px;
      width: 60px;
    }

  }

}

.bottom.alternatives {

  position: absolute;
  bottom: $margin; right: $margin; left: $margin;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 300px;

  button {

    color: $font-color;
    background-color: white;
    padding: $margin/2;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    text-align: center;
    width: 33%;
    cursor: pointer;
    transition: .5s all;
    margin: $margin;
    background-color: #dadada;

    &:hover, &:focus {
      text-decoration: none;
      transform: translateY(-$margin);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 45%;
      transform: rotate(45deg);
      height: 20px;
      width: 20px;
      background-color: inherit;
      border: 1px solid black;
      border-left-color: #dadada;
      border-top-color: #dadada;
    }

  }

  @media (max-width: 769px) {

    flex-flow: column wrap;
    bottom: $margin-mobile;
    right: $margin-mobile; left: $margin-mobile;
    position: auto;

    button {
      width: 100%;
      text-align: left;

      &, &:first-child, &:last-child {
        margin: 0;
        margin-top: $margin-mobile;
        margin-left: -10px;
      }

      &:hover, &:focus { transform: translateX($margin-mobile) };
      &:after {
        left: -8px; top: 45%;
        height: 15px; width: 15px;
        border-left-color: black;
        border-bottom-color: black;
        border-top-color: #dadada;
        border-right-color: #dadada;
      }

    }

  }

}
